:root {
  font-family: "IBM Plex Sans", system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 300;

  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh; /* Full viewport height */
  margin: 0;
  padding: 0;
  background-color: #242424;
  overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
}

.feed-container {
  display: flex;
  flex-grow: 1; /* Fills available vertical space */
  width: 100%;
  height: 100%; /* Ensure it stretches */
  overflow: hidden;
}

.feed-container img {
  width: 50%;
  height: 100%;
  object-fit: contain;
}
