:root {
  font-family: "IBM Plex Sans", system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 300;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh; /* Full viewport height */
  background-color: #111113;
  overflow: hidden;
}

.title {
  margin:1rem;
  position: fixed;
}

h1 {
  font-weight: 400;
  margin: 0;
}


.feed-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(0, 1fr));
  width: 100%;
  height: 100%;
  overflow: hidden;
  gap: 1rem;
}

.feed-container img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
